---
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
import { Image } from "astro:assets";
import { Picture } from "astro:assets";
import top_bg from "../images/top-bg.jpg";
import arrow from "../images/arrow.svg";
import sdgs_tit from "../images/sdgs-tit.svg";
import sdgs_group from "../images/sdgs-group.svg";
import sinmei_ringomusume from "../images/sinmei-ringomusume.svg";
import arrow_blue from "../images/arrow-blue.svg";
import recruit_A from "../images/recruit-A.jpg";
import recruit_B from "../images/recruit-B.jpg";
import recruit_C from "../images/recruit-C.jpg";
import recruit_D from "../images/recruit-D.jpg";
import recruit_E from "../images/recruit-E.jpg";
import recruit_F from "../images/recruit-F.jpg";
import arrow_down_blue from "../images/arrow-blue.svg";
const allPosts = await Astro.glob("../pages/news/*.md");
---

<Layout title="株式会社SINMEI">
  <main>
    <section class="top">
      <div class="top-inner">
        <div class="top-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="394.20001220703125"
            width="100%"
            viewBox="0 0 394.2 2000"
          >
            <g transform="translate(394.2) rotate(90)">
              <path
                d="M143.62,83.17c9.63-7.92,24.9-9.61,35.64-9.61,16.97,0,39.58,5.65,63.34,27.14l43.55-63.33A167.167,167.167,0,0,0,180.81,0c-1.27,0-2.54.01-3.81.04C144.75.04,105.74,5.7,75.2,35.68a118.187,118.187,0,0,0-33.93,85.38,87.241,87.241,0,0,0,24.92,63.89c18.1,18.67,46.94,31.1,53.16,33.37l22.05,9.04c19.79,7.92,27.14,14.14,29.97,16.97a34.984,34.984,0,0,1,10.74,26.01,43.852,43.852,0,0,1-15.84,35.06c-10.74,7.92-28.84,11.88-41.85,11.88a85.7,85.7,0,0,1-44.11-12.45,132.927,132.927,0,0,1-31.68-29.98L0,337.07a207.092,207.092,0,0,0,50.31,40.16C75.76,390.8,97.8,394.2,125.52,394.2c38.45,0,77.48-6.79,108.01-36.76,22.05-22.05,37.89-57.1,37.89-96.7,0-24.32-5.66-41.85-19.23-58.82-14.7-18.09-31.66-27.7-49.76-36.19l-22.06-10.18c-18.66-8.48-28.84-13.01-36.76-19.8a30.825,30.825,0,0,1-13-25.45A35.8,35.8,0,0,1,143.62,83.17Zm-17,27.11a34.809,34.809,0,0,0,14.54,28.64c8.1,6.89,18.03,11.41,35.97,19.56l1.57.71,22.04,10.17c19.24,9.02,34.83,18.44,48.33,35.07,12.87,16.08,18.36,32.93,18.36,56.32,0,35.78-13.73,70.87-36.69,93.84-13.76,13.51-29.91,22.87-49.37,28.64-15.85,4.69-34.11,6.98-55.84,6.98-25.43,0-47.62-2.8-73.28-16.47A202.9,202.9,0,0,1,5.26,336.86l43.39-55.51a136.233,136.233,0,0,0,29.43,26.81l.08.05.08.05a89.862,89.862,0,0,0,46.19,13.03c13.03,0,32.42-3.96,44.22-12.66l.09-.07.09-.07a47.592,47.592,0,0,0,17.29-38.15,39.075,39.075,0,0,0-11.95-28.85c-5.89-5.87-16.41-11.87-31.25-17.81l-22.05-9.04-.07-.03-.08-.03c-8.12-2.96-35.03-15.25-51.67-32.41a83.624,83.624,0,0,1-23.78-60.96v-.22A114.14,114.14,0,0,1,78.04,38.53a114.161,114.161,0,0,1,48.55-28.07C141.31,6.14,157.8,4.04,177,4.04h.1c1.23-.03,2.48-.04,3.72-.04h0a163.608,163.608,0,0,1,99.91,34.18L241.85,94.73c-24.46-20.71-47.39-25.17-62.59-25.17-11.58,0-27.6,1.82-38.19,10.52A39.715,39.715,0,0,0,126.62,110.28Z"
                fill="#fff"
                class="svg-elem"
                id="path"
              >
              </path>
              <path
                d="M348.62,385.72H435.7L482.07,8.53H394.99ZM477.55,12.53,432.16,381.72H353.14L398.53,12.53h79.02Z"
                fill="#fff"
                class="svg-elem"
              >
              </path>
              <path
                d="M845.57,253.95,671.96,8.53H596.2L549.26,385.72h87.08l29.98-246.57L841.05,385.72h75.78L963.18,8.53H876.1ZM958.66,12.53,913.27,381.72H843.1L669.57,136.84l-5.99-8.45-1.25,10.28L632.78,381.72H553.77L599.72,12.53h70.16L842.3,256.26l5.96,8.43,1.27-10.24L879.62,12.54h79.04Z"
                fill="#fff"
                class="svg-elem"
              >
              </path>
              <path
                d="M1373.33,8.53,1251.19,234.16,1186.72,8.53H1114.9L1007.46,385.72h87.08l57.69-225.08,66.16,225.08h32.8l120.44-225.06,2.27,225.06h87.08L1447.41,8.53Zm4.53,373.19-2.23-221.1-.16-15.62-7.37,13.77L1248.79,381.72h-27.41l-65.31-222.2-4.1-13.95-3.61,14.09-56.92,222.07h-78.68L1117.92,12.54h65.78l63.64,222.73,2.69,9.43,4.67-8.63L1375.71,12.54h67.84l13.28,369.19h-78.97Z"
                fill="#fff"
                class="svg-elem"
              >
              </path>
              <path
                d="M1551.23,385.72h210.36l9.04-73.53H1645.1l10.18-83.68h118.74l9.04-73.53H1664.32l9.05-72.95h123.28l9.04-73.51h-208.1ZM1801.17,12.53l-8.06,65.51H1669.84l-.44,3.51-9.05,72.95-.56,4.49h118.75l-8.06,65.53H1651.74l-.43,3.52-10.18,83.68-.55,4.48h125.53l-8.06,65.53h-202.3l45.39-369.19h200.03Z"
                fill="#fff"
                class="svg-elem"
              >
              </path>
              <path
                d="M1912.92,8.53l-46.37,377.19h87.08L2000,8.53Zm37.17,373.19h-79.02l45.39-369.19h79.02Z"
                fill="#fff"
                class="svg-elem"></path>
            </g>
          </svg>
        </div>
        <div class="top-main">
          <div class="top-image">
            <Picture src={top_bg} formats={["avif", "webp"]} alt="トップ画像" />
          </div>
        </div>
        <div class="top-tit">
          <p class="is-anim_one"></p>
          <p class="is-anim_two"></p>
          <p class="is-anim_three"></p>
        </div>
      </div>
    </section>
    <section class="top-company">
      <div class="top-company-inner">
        <div class="top-company-main">
          <div class="top-company-main_half">
            <div class="top-company-tit">
              <p>長年の実績と<br />確かな施工品質で</p>
              <p>地域社会の発展に貢献します</p>
            </div>
            <div class="top-company-text">
              <p>
                株式会社SINMEIは、設立以来培ってきた技術力により、お客様の幅広いニーズにお応えして鉄骨工事業を展開しております。<br
                />
                技術力、品質向上に努めて、お客様の満足度を高めるべく、邁進いたします。
              </p>
            </div>
            <div class="top-company-link">
              <a href="/company">
                <p lang="en">company</p>
                <Image src={arrow} alt="矢印アイコン" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="top-services">
      <div class="top-services-inner">
        <div class="top-services-main">
          <div class="top-services-tit">
            <p lang="en">services</p>
            <h2>事業内容</h2>
          </div>
          <div class="top-services-text">
            <p>
              建築工事は青森県知事特定建設業を取得、鉄骨に関しては国土交通省大臣認定Hグレードを取得し、関東近郊から東北一円にかけて大規模鉄骨の製作を行っております。最新鋭の設備を取り入れ、有資格者も多数在籍しております。工事の際には、ぜひ当社をご用命下さい。
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="top-works">
      <div class="top-works-inner">
        <div class="top-works-main">
          <div class="top-works-tit">
            <h3>鉄骨製造</h3>
            <h3>鋼構造物工事業</h3>
            <h3>建築鉄骨（設計施工）</h3>
            <h3>設備工事</h3>
          </div>
          <div class="top-works-link">
            <a href="/works">
              <p lang="en">works</p>
              <Image src={arrow} alt="矢印アイコン" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="top-ourmission">
      <div class="top-ourmission-inner">
        <div class="top-ourmission-main">
          <div class="top-ourmission-tit">
            <p>Our MISSION</p>
            <h2>SINMEIの取組み</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="top-sdgs">
      <div class="top-sdgs-inner">
        <div class="top-sdgs-main">
          <div class="top-sdgs-tit">
            <h2>SDGs</h2>
          </div>
          <div class="top-sdgs-images">
            <div><Image src={sdgs_tit} alt="SDGs ロゴ" /></div>
            <div><Image src={sdgs_group} alt="SDGs 17の目標" /></div>
          </div>
          <div class="top-sdgs-text">
            <h3>
              株式会社ＳＩＮＭＥＩは、ＳＤＧｓを国際社会の重要な目標と捉え、企業の経済、社会及び環境の三側面を調和させ、人類および地球に対し行動を促進させていきます。
            </h3>
          </div>
          <div class="top-sdgs-link">
            <a href="/sdgs">
              <p lang="en">read more</p>
              <Image src={arrow} alt="矢印アイコン" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="top-partnership">
      <div class="top-partnership-inner">
        <div class="top-partnership-main">
          <div class="top-partnership-tit">
            <h2 lang="en">partner ship</h2>
          </div>
          <div class="top-partnership-text">
            <div>
              <h3>
                <span>青森の企業</span>から<br /><span>芸術・文化</span>の<span
                  >発信</span
                >を！
              </h3>
            </div>
            <div>
              <Image src={sinmei_ringomusume} alt="SINMEI×RINGOMUSUME" />
            </div>
          </div>
          <div class="top-partnership-link">
            <a href="/partnership">
              <p lang="en">read more</p>
              <Image src={arrow_blue} alt="矢印アイコン青" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="top-recruit">
      <div class="top-recruit-inner">
        <div class="top-recruit-header">
          <Picture
            src={recruit_A}
            formats={["avif", "webp"]}
            alt="社員画像01"
          />
          <Picture
            src={recruit_B}
            formats={["avif", "webp"]}
            alt="社員画像02"
          />
          <Picture
            src={recruit_C}
            formats={["avif", "webp"]}
            alt="社員画像03"
          />
          <Picture
            src={recruit_D}
            formats={["avif", "webp"]}
            alt="社員画像04"
          />
          <Picture
            src={recruit_E}
            formats={["avif", "webp"]}
            alt="社員画像05"
          />
          <Picture
            src={recruit_F}
            formats={["avif", "webp"]}
            alt="社員画像06"
          />
        </div>
        <div class="top-recruit-main">
          <div class="top-recruit-tit">
            <p lang="en">recruit</p>
            <h2>採用情報</h2>
          </div>
          <div class="top-recruit-text">
            <p>
              これまでの経験を活かした仕事をしたい、未来の街づくりを手がけたいという方からのご応募をお待ちしております。
            </p>
          </div>
          <div class="top-recruit-link">
            <a href="/recruit">
              <p lang="en">read more</p>
              <Image src={arrow} alt="矢印アイコン" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="top-news">
      <div class="top-news-inner">
        <div class="top-news-main">
          <div class="top-news-tit">
            <p lang="en">news</p>
            <h2>お知らせ</h2>
          </div>
          <ul class="top-news-list">
            {
              allPosts.map((post) => (
                <li class="news-item">
                  <a href={post.url}>
                    <div class="news-item-header" lang="ja">
                      <time datetime={post.frontmatter.pubDate}>
                        {post.frontmatter.pubDate}
                      </time>
                      <p>お知らせ</p>
                    </div>
                    <div class="news-item-main">
                      <p>{post.frontmatter.title}</p>
                      <Image src={arrow_down_blue} alt="矢印アイコン下向き青" />
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
          <div class="top-news-link">
            <a href="/news">
              <p lang="en">read more</p>
              <Image src={arrow_blue} alt="矢印アイコン青" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <Cta />
    <section class="top-access">
      <div class="top-access-inner">
        <div class="top-access-main">
          <div class="top-access-tit">
            <p lang="en">access</p>
            <h2>アクセス</h2>
          </div>
          <div class="top-access-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12075.689968301911!2d140.4445953173828!3d40.8296661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f9bbb2493e3b90b%3A0xa42fe42ae2e8066!2zKOagqinvvLPvvKnvvK7vvK3vvKXvvKk!5e0!3m2!1sja!2sjp!4v1707713358893!5m2!1sja!2sjp"
              width="100%"
              height="100%"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
<style>
  path {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 2800px;
  }
</style>
<script>
  import { gsap } from "gsap";
  import { TextPlugin } from "gsap/dist/TextPlugin";
  gsap.registerPlugin(TextPlugin);

  // SVGのパス要素を非表示にする
  const svgPaths = document.querySelectorAll("svg path");
  svgPaths.forEach((path) => {
    path.style.visibility = "hidden";
  });

  const animOne = new Promise((resolve) => {
    gsap.to(".is-anim_one", {
      duration: 1,
      text: "もっとよいものを",
      ease: "none",
      delay: 0,
      onComplete: resolve,
    });
  });

  const animTwo = new Promise((resolve) => {
    gsap.to(".is-anim_two", {
      duration: 1,
      text: "責任をもって",
      ease: "none",
      delay: 0.5,
      onComplete: resolve,
    });
  });

  const animThree = new Promise((resolve) => {
    gsap.to(".is-anim_three", {
      duration: 1,
      text: "作れる会社へ",
      ease: "none",
      delay: 1.0,
      onComplete: resolve,
    });
  });

  Promise.all([animOne, animTwo, animThree]).then(() => {
    // アニメーションが終了した後にSVGのパス要素を表示にする
    svgPaths.forEach((path) => {
      path.style.visibility = "visible";
    });

    gsap.fromTo(
      "svg path",
      { "stroke-dashoffset": "2800px" },
      {
        "stroke-dashoffset": "0",
        duration: 5,
        stagger: 0.2,
        onComplete: fadeInImage,
      },
    );
  });

  function fadeInImage() {
    gsap.to("img", {
      duration: 1,
      opacity: 1,
      ease: "power2.inOut", // フェードインのイージング
    });
  }
</script>
