---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import arrow_down_blue from "../images/arrow-blue.svg";
import arrow_next_blue from "../images/arrow-next-blue.svg";
import arrow_prev_blue from "../images/arrow-prev-blue.svg";
---

<Layout title="株式会社SINMEIについて | 株式会社SINMEI">
  <main>
    <section class="news">
      <div class="news-inner">
        <div class="news-main">
          <div class="news-tit">
            <p lang="en">news</p>
            <h2>お知らせ</h2>
          </div>
          <ul class="news-list">
            <li class="news-item">
              <a href="/news/post-1/">
                <div class="news-item-header" lang="ja">
                  <time datetime="2023-11-10">2023.11.10</time>
                  <p>お知らせ</p>
                </div>
                <div class="news-item-main">
                  <p>採用情報を更新いたしました。</p>
                  <Image src={arrow_down_blue} alt="" />
                </div>
              </a>
            </li>
            <li class="news-item">
              <a href="/news/post-1/">
                <div class="news-item-header" lang="ja">
                  <time datetime="2023-11-10">2023.11.10</time>
                  <p>お知らせ</p>
                </div>
                <div class="news-item-main">
                  <p>採用情報を更新いたしました。</p>
                  <Image src={arrow_down_blue} alt="" />
                </div>
              </a>
            </li>
            <li class="news-item">
              <a href="/news/post-1/">
                <div class="news-item-header" lang="ja">
                  <time datetime="2023-11-10">2023.11.10</time>
                  <p>お知らせ</p>
                </div>
                <div class="news-item-main">
                  <p>採用情報を更新いたしました。</p>
                  <Image src={arrow_down_blue} alt="" />
                </div>
              </a>
            </li>
            <li class="news-item">
              <a href="/news/post-1/">
                <div class="news-item-header" lang="ja">
                  <time datetime="2023-11-10">2023.11.10</time>
                  <p>お知らせ</p>
                </div>
                <div class="news-item-main">
                  <p>採用情報を更新いたしました。</p>
                  <Image src={arrow_down_blue} alt="" />
                </div>
              </a>
            </li>
            <li class="news-item">
              <a href="/news/post-1/">
                <div class="news-item-header" lang="ja">
                  <time datetime="2023-11-10">2023.11.10</time>
                  <p>お知らせ</p>
                </div>
                <div class="news-item-main">
                  <p>採用情報を更新いたしました。</p>
                  <Image src={arrow_down_blue} alt="" />
                </div>
              </a>
            </li>
            <li class="news-item">
              <a href="/news/post-1/">
                <div class="news-item-header" lang="ja">
                  <time datetime="2023-11-10">2023.11.10</time>
                  <p>お知らせ</p>
                </div>
                <div class="news-item-main">
                  <p>採用情報を更新いたしました。</p>
                  <Image src={arrow_down_blue} alt="" />
                </div>
              </a>
            </li>
            <li class="news-item">
              <a href="/news/post-1/">
                <div class="news-item-header" lang="ja">
                  <time datetime="2023-11-10">2023.11.10</time>
                  <p>お知らせ</p>
                </div>
                <div class="news-item-main">
                  <p>採用情報を更新いたしました。</p>
                  <Image src={arrow_down_blue} alt="" />
                </div>
              </a>
            </li>
            <li class="news-item">
              <a href="/news/post-1/">
                <div class="news-item-header" lang="ja">
                  <time datetime="2023-11-10">2023.11.10</time>
                  <p>お知らせ</p>
                </div>
                <div class="news-item-main">
                  <p>採用情報を更新いたしました。</p>
                  <Image src={arrow_down_blue} alt="" />
                </div>
              </a>
            </li>
            <li class="news-item">
              <a href="/news/post-1/">
                <div class="news-item-header" lang="ja">
                  <time datetime="2023-11-10">2023.11.10</time>
                  <p>お知らせ</p>
                </div>
                <div class="news-item-main">
                  <p>採用情報を更新いたしました。</p>
                  <Image src={arrow_down_blue} alt="" />
                </div>
              </a>
            </li>
            <li class="news-item">
              <a href="/news/post-1/">
                <div class="news-item-header" lang="ja">
                  <time datetime="2023-11-10">2023.11.10</time>
                  <p>お知らせ</p>
                </div>
                <div class="news-item-main">
                  <p>採用情報を更新いたしました。</p>
                  <Image src={arrow_down_blue} alt="" />
                </div>
              </a>
            </li>
            <li class="news-item">
              <a href="/news/post-1/">
                <div class="news-item-header" lang="ja">
                  <time datetime="2023-11-10">2023.11.10</time>
                  <p>お知らせ</p>
                </div>
                <div class="news-item-main">
                  <p>採用情報を更新いたしました。</p>
                  <Image src={arrow_down_blue} alt="" />
                </div>
              </a>
            </li>
          </ul>
          <div class="news-link">
            <a href="#">
              <Image src={arrow_prev_blue} alt="" />
            </a>
            <span>1</span>
            <a href="#">
              <Image src={arrow_next_blue} alt="" />
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
