---
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
import { Image } from "astro:assets";
import { Picture } from "astro:assets";
import partnership_top from "../images/partnership_top.jpg";
import sinmei_ringomusume_white from "../images/sinmei-ringomusume_white.svg";
import partnership_pamphlet from "../images/partnership_pamphlet.jpg";
import partnership_pink from "../images/partnership_pink.png";
import partnership_king from "../images/partnership_king.png";
import partnership_gurin from "../images/partnership_gurin.png";
import partnership_kinsei from "../images/partnership_kinsei.png";
---

<Layout title="パートナーシップ | 株式会社SINMEI">
  <main>
    <section class="partnership">
      <div class="partnership-inner">
        <div class="partnership-header">
          <Picture
            src={partnership_top}
            formats={["avif", "webp"]}
            alt="説明文"
          />
        </div>
        <div class="partnership-main">
          <div class="partnership-subtit">
            <p>Our MISSION</p>
            <h1>SINMEIの取組み</h1>
          </div>
          <div class="partnership-tit">
            <p lang="en">partnership</p>
            <h2>パートナーシップ</h2>
          </div>
          <div class="partnership-text">
            <article>
              <Picture
                src={sinmei_ringomusume_white}
                formats={["avif", "webp"]}
                alt="説明文"
              />
            </article>
            <article>
              <h3>
                青森の企業<span>から</span><br />
                芸術・文化<span>の</span>発信<span>を！</span>
              </h3>
              <div>
                <h4>コラボ企業<br />パンフレット</h4>
                <a href="" lang="en">click</a>
                <Picture
                  src={partnership_pamphlet}
                  formats={["avif", "webp"]}
                  alt="説明文"
                />
                <Picture
                  src={partnership_pink}
                  formats={["avif", "webp"]}
                  alt="説明文"
                />
                <Picture
                  src={partnership_king}
                  formats={["avif", "webp"]}
                  alt="説明文"
                />
                <Picture
                  src={partnership_gurin}
                  formats={["avif", "webp"]}
                  alt="説明文"
                />
              </div>
            </article>
            <article>
              <div>
                <h3 lang="en">web cm</h3>
                <p>公開中！</p>
              </div>
              <div>
                <iframe
                  width="950"
                  height="613"
                  src="https://www.youtube.com/embed/8vyFgR1WtZE?si=40xyvCTxxg8P0lEU"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
              </div>
              <Picture
                src={partnership_kinsei}
                formats={["avif", "webp"]}
                alt="説明文"
              />
            </article>
          </div>
        </div>
      </div>
    </section>
  </main>
  <Cta />
</Layout>

<style></style>
