---
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
import { Picture } from "astro:assets";
import sdgstop from "../images/sdgstop.jpg";
import images_sdgs_logo from "../images/sdgs_logo.png";
import sdgs17set from "../images/sdgs17set.png";
import sdgs5set from "../images/sdgs5set.png";
import sdgs05 from "../images/sdgs05.jpg";
import sdgs07 from "../images/sdgs07.jpg";
import sdgs3set from "../images/sdgs3set.svg";
import sdgs2set from "../images/sdgs2set.svg";
import sdgs2set02 from "../images/sdgs2set02.svg";
import sinmei_ringomusume_white from "../images/sinmei-ringomusume_white.svg";
---

<Layout title="持続可能な開発目標 | 株式会社SINMEI">
  <main>
    <section class="sdgs">
      <div class="sdgs-inner">
        <div class="sdgs-header">
          <Picture
            src={sdgstop}
            formats={["avif", "webp"]}
            alt="SDGsトップ画像"
          />
        </div>
        <div class="sdgs-main">
          <div class="sdgs-subtit">
            <p>Our MISSION</p>
            <h1>SINMEIの取組み</h1>
          </div>
          <div class="sdgs-tit">
            <p lang="en">sdgs</p>
            <h2>持続可能な開発目標</h2>
          </div>
          <div class="sdgs-list">
            <ul class="list01">
              <li>
                <Picture
                  src={images_sdgs_logo}
                  formats={["avif", "webp"]}
                  alt="SDGsロゴ"
                />
                <Picture
                  src={sdgs17set}
                  formats={["avif", "webp"]}
                  alt="17の目標"
                />
              </li>
              <li>
                <p>
                  株式会社ＳＩＮＭＥＩは、ＳＤＧｓを国際社会の重要な目標と捉え、企業の経済、社会及び環境の三側面を調和させ、人類および地球に対し行動を促進させていきます。
                </p>
              </li>
            </ul>
            <ul class="list02">
              <li>
                <h3>持続可能な<br />開発目標（SDGs）とは</h3>
              </li>
              <li>
                <p>
                  開発アジェンダの節目の年、2015年の9月25日－27日、ニューヨーク国連本部において、「国連持続可能な開発サミット」が開催され、150を超える加盟国首脳の参加のもと、その成果文書として、「我々の世界を変革する：持続可能な開発のための2030アジェンダ」が採択されました。
                </p>
                <p>
                  持続可能な開発目標（Sustainable Development Goals:
                  SDGs）（https://sustainabledevelopment.un.org/sdgs
                  ）として知られる期限を定めた測定可能な17の目標は、「2030アジェンダ」の中核をなす。169のターゲットと230の指標からなり、人間と地球の「やるべきことのリスト」であり、持続可能な未来のための青写真である。開発目標は、持続可能な開発の社会、経済、環境の側面を統合したもので、互いに独立したものではなく、統合された方法で実施されなければならない。
                </p>
                <p>
                  開発目標は普遍的なもので、先進国、開発途上国、また中所得国を問わず、すべての国に適用され、その一方で国家の発展や能力の度合いが考慮される。貧困を終わらせるには経済成長を確立し、教育、保健、社会的保護、雇用の機会など、広範にわたる社会的ニーズに取り組み、それと同時に気候変動や環境保護の問題に取り組む必要があることをSDGsは認識している。
                </p>
                <p>
                  2030アジェンダは、アジェンダとその実施は国家の責任であるが、包摂的でなければならないと強調している。成功するには、グローバル、国家、地域、地方のレベルで、すべての人々やステークホルダーによって行動がとられなければならない。SDGsは、好ましい変化を行うためにすべての人を団結させる。
                </p>
              </li>
            </ul>
            <ul class="list03">
              <li>
                <h3>株式会社SINMEIのSDGs</h3>
              </li>
              <li>
                <Picture
                  src={sdgs5set}
                  formats={["avif", "webp"]}
                  alt="SDGsアイコン 1、10、16、3、4"
                />
              </li>
              <li>
                <ul>
                  <li>
                    <p>
                      特定非営利活動法人
                      日本こども支援協会への支援を行い里親制度の啓発や子育て支援に会員として応援しています。
                    </p>
                  </li>
                  <li>
                    <p>
                      妊婦に感染することによって赤ちゃんに障害でる恐れのある風疹の予防接種を社員に受けさせています。
                    </p>
                  </li>
                  <li>
                    <p>
                      2022年はコロナウイルスとインフルエンザにダブル感染しないよう、社員全員にインフルエンザの予防接種を受けさせました。
                    </p>
                  </li>
                  <li>
                    <p>
                      日本赤十字社青森県赤十字血液センターの献血バスの受け入れを行っています。
                    </p>
                  </li>
                  <li>
                    <p>全国健康保険協会青森支部で健康宣言を行いました。</p>
                  </li>
                  <li>
                    <p>
                      黒石剣友会の大会に協賛し、地域のスポーツ育成に協力しています。
                    </p>
                  </li>
                  <li>
                    <p>
                      外国人労働者（ベトナム）からエンジニアを一般社員として受け入れています。
                    </p>
                  </li>
                </ul>
              </li>
              <li>
                <Picture
                  src={sdgs05}
                  formats={["avif", "webp"]}
                  alt="SDGsアイコン 5"
                />
              </li>
              <li>
                <ul>
                  <li>
                    <p>
                      女性の働きやすい職場環境を目指し、妊娠・出産・育児・介護その他社員の健康状態に配慮した労働環境を整備します。
                    </p>
                  </li>
                </ul>
              </li>
              <li>
                <Picture
                  src={sdgs07}
                  formats={["avif", "webp"]}
                  alt="SDGsアイコン 7"
                />
              </li>
              <li>
                <ul>
                  <li>
                    <p>
                      工場内の照明をすべてLEDに変え、溶接機もデジタルにして、電力量を抑えています。
                      休憩所のストーブは自社製薪ストーブを採用しています。
                    </p>
                  </li>
                </ul>
              </li>
              <li>
                <div>
                  <Picture
                    src={sdgs2set}
                    formats={["avif", "webp"]}
                    alt="SDGsアイコン 8、9"
                  />
                </div>
              </li>
            </ul>
            <ul class="list04">
              <li>
                <ul>
                  <li>
                    <p>
                      従業員の技術力および知識向上のため、社員教育、各資格試験の取得について、サポートしております。
                      社員に働きやすく、休みの取りやすい環境の整備を行っています。
                      また、工場の技術力のレベルアップを図り2017年　Ｈグレードを取得しました。
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="list05">
              <li>
                <div>
                  <Picture
                    src={sdgs2set02}
                    formats={["avif", "webp"]}
                    alt="SDGsアイコン 11、12"
                  />
                </div>
              </li>
            </ul>
            <ul class="list06">
              <li>
                <ul>
                  <li>
                    <p>
                      工場から排出される、鉄くずはスクラップへ、その他のものは、細かく分類し、産業廃棄物が極力出ないようにしています。
                    </p>
                  </li>
                  <li>
                    <p>
                      五所川原市内の祭りなどで協賛や手伝いなど積極的に地域貢献しています。
                      工場の周りなど植林をして地域の緑化を推進しています。
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="list07">
              <li>
                <h3>パートナーシップ協定</h3>
              </li>
              <li>
                <Picture
                  src={sinmei_ringomusume_white}
                  formats={["avif", "webp"]}
                  alt="SINMEI × RINGO MUSUME"
                />
                <Picture
                  src={sdgs3set}
                  formats={["avif", "webp"]}
                  alt="SDGsアイコン 4、5、17"
                />
              </li>
            </ul>
            <ul class="list08">
              <li>
                <h4>私たちができることとは？</h4>
                <p>
                  子供たちに音楽や芸術を鑑賞させ体験させること、その小さな力はやがて大きな創造力に。
                  リンゴミュージックは子供たちの小さな力を信じ、音楽やダンスなどのレッスンを無料で行っています。
                </p>
                <p>SINMEIはその思いに共感しました。</p>
                <p>
                  私たちができることとは？ <br />
                  小さな手に少しの愛を与えること。<br />
                  その小さな愛は大きな幸せに。<br />
                  SINMEIは青森の企業として子供たちのために、もっと音楽や芸術に触れさせてあげることを目標に挙げています。
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
  <Cta />
</Layout>
