---
import { Image } from "astro:assets";
import slide01 from "../images/slide001.jpg";
import slide02 from "../images/slide002.jpg";
import slide03 from "../images/slide003.jpg";
import slide04 from "../images/slide004.jpg";
import slide05 from "../images/slide005.jpg";
import slide06 from "../images/slide006.jpg";
import slide07 from "../images/slide007.jpg";
import slide08 from "../images/slide008.jpg";
import slide09 from "../images/slide009.jpg";
---

<div class="workspage-slider">
    <div class="slider-item"><Image src={slide01} alt="" /></div>
    <div class="slider-item"><Image src={slide02} alt="" /></div>
    <div class="slider-item"><Image src={slide03} alt="" /></div>
    <div class="slider-item"><Image src={slide04} alt="" /></div>
    <div class="slider-item"><Image src={slide05} alt="" /></div>
    <div class="slider-item"><Image src={slide06} alt="" /></div>
    <div class="slider-item"><Image src={slide07} alt="" /></div>
    <div class="slider-item"><Image src={slide08} alt="" /></div>
    <div class="slider-item"><Image src={slide09} alt="" /></div>
</div>
<div class="slider-pagination">
    <button id="prevBtn">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="56"
            height="56"
            viewBox="0 0 56 56"
        >
            <defs>
                <clipPath id="clip-path">
                    <rect
                        id="rectangle_16"
                        data-name="Rectangle 16"
                        width="22.261"
                        height="18.081"
                        fill="none"></rect>
                </clipPath>
            </defs>
            <g
                id="group_133"
                data-name="Group 133"
                transform="translate(335 1607) rotate(-180)"
            >
                <g
                    id="group_17"
                    data-name="Group 17"
                    transform="translate(295.869 1570.25)"
                >
                    <g
                        id="group_16"
                        data-name="Group 16"
                        clip-path="url(#clip-path)"
                    >
                        <path
                            id="path_12"
                            data-name="Path 12"
                            d="M49.245.354,58.191,9.3l-8.946,8.946"
                            transform="translate(-36.119 -0.259)"
                            fill="none"
                            stroke="#fff"
                            stroke-miterlimit="10"
                            stroke-width="1"></path>
                        <line
                            id="line_6"
                            data-name="Line 6"
                            x1="22.073"
                            transform="translate(0 9.041)"
                            fill="none"
                            stroke="#fff"
                            stroke-miterlimit="10"
                            stroke-width="1"></line>
                    </g>
                </g>
                <g
                    id="ellipse_1"
                    data-name="Ellipse 1"
                    transform="translate(279 1551)"
                    fill="none"
                    stroke="#fff"
                    stroke-width="1"
                >
                    <circle cx="28" cy="28" r="28" stroke="none"></circle>
                    <circle cx="28" cy="28" r="27.5" fill="none"></circle>
                </g>
            </g>
        </svg>
    </button>
    <span id="currentPage"></span>
    <button id="nextBtn">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="56"
            height="56"
            viewBox="0 0 56 56"
        >
            <defs>
                <clipPath id="clip-path">
                    <rect
                        id="rectangle_16"
                        data-name="Rectangle 16"
                        width="22.261"
                        height="18.081"
                        fill="none"></rect>
                </clipPath>
            </defs>
            <g
                id="group_132"
                data-name="Group 132"
                transform="translate(-279 -1551)"
            >
                <g
                    id="group_17"
                    data-name="Group 17"
                    transform="translate(295.869 1570.25)"
                >
                    <g
                        id="group_16"
                        data-name="Group 16"
                        clip-path="url(#clip-path)"
                    >
                        <path
                            id="path_12"
                            data-name="Path 12"
                            d="M49.245.354,58.191,9.3l-8.946,8.946"
                            transform="translate(-36.119 -0.259)"
                            fill="none"
                            stroke="#fff"
                            stroke-miterlimit="10"
                            stroke-width="1"></path>
                        <line
                            id="line_6"
                            data-name="Line 6"
                            x1="22.073"
                            transform="translate(0 9.041)"
                            fill="none"
                            stroke="#fff"
                            stroke-miterlimit="10"
                            stroke-width="1"></line>
                    </g>
                </g>
                <g
                    id="ellipse_1"
                    data-name="Ellipse 1"
                    transform="translate(279 1551)"
                    fill="none"
                    stroke="#fff"
                    stroke-width="1"
                >
                    <circle cx="28" cy="28" r="28" stroke="none"></circle>
                    <circle cx="28" cy="28" r="27.5" fill="none"></circle>
                </g>
            </g>
        </svg>
    </button>
</div>
