---
const { title } = Astro.props.frontmatter || Astro.props;
const { pubDate } = Astro.props.frontmatter || Astro.props;
const { dateTime } = Astro.props.frontmatter || Astro.props;
import { Image } from "astro:assets";
import arrow_next_blue from "../images/arrow-next-blue.svg";
import arrow_prev_blue from "../images/arrow-prev-blue.svg";
import Layout from "../layouts/Layout.astro";
---

<Layout title={title}>
  <section class="news">
    <div class="news-inner">
      <div class="news-main">
        <div class="news-tit">
          <p lang="en">news</p>
          <h2>お知らせ</h2>
        </div>
        <div class="news-text">
          <div class="news-text-header" lang="ja">
            <time datetime={pubDate}>{pubDate}</time>
            <p>お知らせ</p>
          </div>
          <div class="news-text-main" lang="ja">
            <h1>{title}</h1>
            <slot />
          </div>
        </div>
      </div>
    </div>
    <div class="news-link">
      <a href="#" class="prev">
        <Image src={arrow_prev_blue} alt="戻るアイコン" />
      </a>
      <a href="/news">一覧へ戻る</a>
      <a href="#" class="next">
        <Image src={arrow_next_blue} alt="進むアイコン" />
      </a>
    </div>
  </section>
</Layout>
<style>
  h1 {
    line-height: 1.6;
  }
</style>
